In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (25.1.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
df = pd.read_excel('Data set (2).xlsx')

In [6]:
df = pd.read_excel('Data set (2).xlsx') 
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [7]:
print(df.shape)
print(df.head())

(1107, 19)
        Date  Coal_RB_4800_FOB_London_Close_USD  \
0 2020-04-02                              41.00
1 2020-04-03                              40.34
2 2020-04-06                              40.34
3 2020-04-07                              40.34
4 2020-04-08                              40.34

   Coal_RB_5500_FOB_London_Close_USD  Coal_RB_5700_FOB_London_Close_USD  \
0                              53.22                               64.7
1                              52.36                               63.1
2                              52.36                               63.1
3                              52.36                               63.1
4                              52.36                               63.1

   Coal_RB_6000_FOB_CurrentWeek_Avg_USD  Coal_India_5500_CFR_London_Close_USD  \
0                                 97.56                                 60.50
1                                 70.57                                 62.03
2                                 70.57                                 62.03
3                                 70.57                                 62.03
4                                 70.57                                 62.03

   Price_WTI  Price_Brent_Oil  Price_Dubai_Brent_Oil  Price_ExxonMobil  \
0      25.32            29.94                  26.16             40.40
1      28.34            34.11                  29.39             39.21
2      26.08            33.05                  27.45             40.47
3      23.63            31.87                  26.00             41.24
4      25.09            32.84                  26.16             43.85

   Price_Shenhua  Price_All_Share  Price_Mining  \
0          14.58         45060.69      35562.37
1          14.14         44598.70      35258.30
2          14.26         46240.35      37032.31
3          14.46         47496.72      38362.12
4          14.24         46689.90      37469.17

   Price_LNG_Japan_Korea_Marker_PLATTS  Price_ZAR_USD  Price_Natural_Gas  \
0                                2.860        0.05411              1.552
1                                2.845        0.05245              1.621
2                                2.850        0.05351              1.731
3                                2.805        0.05457              1.852
4                                2.810        0.05493              1.783

   Price_ICE  Price_Dutch_TTF  Price_Indian_en_exg_rate
0      81.14            6.935                       NaN
1      80.99            6.920                     45.02
2      84.43            7.285                       NaN
3      82.30            7.285                     48.32
4      85.34            7.260                     45.75

In [8]:
df = pd.read_excel('Data set (2).xlsx')
pd.set_option('display.max_columns', None)
print(df)

           Date  Coal_RB_4800_FOB_London_Close_USD  \
0    2020-04-02                              41.00
1    2020-04-03                              40.34
2    2020-04-06                              40.34
3    2020-04-07                              40.34
4    2020-04-08                              40.34
...         ...                                ...
1102 2024-06-24                              73.30
1103 2024-06-25                              73.30
1104 2024-06-26                              73.30
1105 2024-06-27                              73.30
1106 2024-06-28                              71.38

      Coal_RB_5500_FOB_London_Close_USD  Coal_RB_5700_FOB_London_Close_USD  \
0                                 53.22                              64.70
1                                 52.36                              63.10
2                                 52.36                              63.10
3                                 52.36                              63.10
4                                 52.36                              63.10
...                                 ...                                ...
1102                              94.56                             107.31
1103                              94.56                             107.31
1104                              94.56                             107.31
1105                              94.56                             107.31
1106                              92.08                             103.68

      Coal_RB_6000_FOB_CurrentWeek_Avg_USD  \
0                                    97.56
1                                    70.57
2                                    70.57
3                                    70.57
4                                    70.57
...                                    ...
1102                                106.22
1103                                106.22
1104                                106.22
1105                                106.22
1106                                106.22

      Coal_India_5500_CFR_London_Close_USD  Price_WTI  Price_Brent_Oil  \
0                                    60.50      25.32            29.94
1                                    62.03      28.34            34.11
2                                    62.03      26.08            33.05
3                                    62.03      23.63            31.87
4                                    62.03      25.09            32.84
...                                    ...        ...              ...
1102                                111.20      81.63            86.01
1103                                111.20      80.83            85.01
1104                                111.20      80.90            85.25
1105                                111.20      81.74            86.39
1106                                109.15      81.54            86.41

      Price_Dubai_Brent_Oil  Price_ExxonMobil  Price_Shenhua  Price_All_Share  \
0                     26.16             40.40          14.58         45060.69
1                     29.39             39.21          14.14         44598.70
2                     27.45             40.47          14.26         46240.35
3                     26.00             41.24          14.46         47496.72
4                     26.16             43.85          14.24         46689.90
...                     ...               ...            ...              ...
1102                  82.60            114.05          39.55         80263.14
1103                  82.42            114.37          39.50         79577.57
1104                  82.47            114.41          39.70         79252.39
1105                  82.49            114.90          35.15         78969.33
1106                  82.55            115.12          35.95         79707.11

      Price_Mining  Price_LNG_Japan_Korea_Marker_PLATTS  Price_ZAR_USD  \
0         35562.37                                2.860        0.05411
1         35258.30                                2.845        0.05245
2         37032.31                                2.850        0.05351
3         38362.12                                2.805        0.05457
4         37469.17                                2.810        0.05493
...            ...                                  ...            ...
1102      51492.93                               12.610        0.05517
1103      51015.62                               12.735        0.05482
1104      50943.54                               12.620        0.05497
1105      52018.94                               12.660        0.05411
1106      51308.87                               12.635        0.05495

      Price_Natural_Gas  Price_ICE  Price_Dutch_TTF  Price_Indian_en_exg_rate
0                 1.552      81.14            6.935                       NaN
1                 1.621      80.99            6.920                     45.02
2                 1.731      84.43            7.285                       NaN
3                 1.852      82.30            7.285                     48.32
4                 1.783      85.34            7.260                     45.75
...                 ...        ...              ...                       ...
1102              2.811     138.72           34.080                    182.69
1103              2.756     137.33           34.855                    179.47
1104              2.628     137.39           33.825                    178.68
1105              2.685     137.47           34.565                    179.83
1106              2.601     136.89           34.480                    180.54

[1107 rows x 19 columns]

In [9]:
df = pd.read_excel('Data set (2).xlsx')
print("Null values per column:")
print(df.isnull().sum())

Null values per column:
Date                                     0
Coal_RB_4800_FOB_London_Close_USD       39
Coal_RB_5500_FOB_London_Close_USD       39
Coal_RB_5700_FOB_London_Close_USD       39
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    23
Coal_India_5500_CFR_London_Close_USD    39
Price_WTI                                8
Price_Brent_Oil                         11
Price_Dubai_Brent_Oil                   40
Price_ExxonMobil                        40
Price_Shenhua                           65
Price_All_Share                         49
Price_Mining                            49
Price_LNG_Japan_Korea_Marker_PLATTS     41
Price_ZAR_USD                            0
Price_Natural_Gas                        8
Price_ICE                               40
Price_Dutch_TTF                         31
Price_Indian_en_exg_rate                60
dtype: int64

In [10]:
print("\nTotal null values in dataset:", df.isnull().sum().sum())

Total null values in dataset: 621

In [11]:
df.fillna(df.mean(numeric_only=True), inplace=True)

# For categorical columns â†’ fill with **mode**
for column in df.select_dtypes(include='object').columns:
    df[column].fillna(df[column].mode()[0], inplace=True)

In [12]:
print("\nNull values after replacement:")
print(df.isnull().sum())

Null values after replacement:
Date                                    0
Coal_RB_4800_FOB_London_Close_USD       0
Coal_RB_5500_FOB_London_Close_USD       0
Coal_RB_5700_FOB_London_Close_USD       0
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    0
Coal_India_5500_CFR_London_Close_USD    0
Price_WTI                               0
Price_Brent_Oil                         0
Price_Dubai_Brent_Oil                   0
Price_ExxonMobil                        0
Price_Shenhua                           0
Price_All_Share                         0
Price_Mining                            0
Price_LNG_Japan_Korea_Marker_PLATTS     0
Price_ZAR_USD                           0
Price_Natural_Gas                       0
Price_ICE                               0
Price_Dutch_TTF                         0
Price_Indian_en_exg_rate                0
dtype: int64

In [13]:
df.head()

,Date,Coal_RB_4800_FOB_London_Close_USD,Coal_RB_5500_FOB_London_Close_USD,Coal_RB_5700_FOB_London_Close_USD,Coal_RB_6000_FOB_CurrentWeek_Avg_USD,Coal_India_5500_CFR_London_Close_USD,Price_WTI,Price_Brent_Oil,Price_Dubai_Brent_Oil,Price_ExxonMobil,Price_Shenhua,Price_All_Share,Price_Mining,Price_LNG_Japan_Korea_Marker_PLATTS,Price_ZAR_USD,Price_Natural_Gas,Price_ICE,Price_Dutch_TTF,Price_Indian_en_exg_rate
0,2020-04-02,41.00,53.22,64.7,97.56,60.50,25.32,29.94,26.16,40.40,14.58,45060.69,35562.37,2.860,0.05411,1.552,81.14,6.935,141.616027
1,2020-04-03,40.34,52.36,63.1,70.57,62.03,28.34,34.11,29.39,39.21,14.14,44598.70,35258.30,2.845,0.05245,1.621,80.99,6.920,45.020000
2,2020-04-06,40.34,52.36,63.1,70.57,62.03,26.08,33.05,27.45,40.47,14.26,46240.35,37032.31,2.850,0.05351,1.731,84.43,7.285,141.616027
3,2020-04-07,40.34,52.36,63.1,70.57,62.03,23.63,31.87,26.00,41.24,14.46,47496.72,38362.12,2.805,0.05457,1.852,82.30,7.285,48.320000
4,2020-04-08,40.34,52.36,63.1,70.57,62.03,25.09,32.84,26.16,43.85,14.24,46689.90,37469.17,2.810,0.05493,1.783,85.34,7.260,45.750000

In [14]:
df.tail()

,Date,Coal_RB_4800_FOB_London_Close_USD,Coal_RB_5500_FOB_London_Close_USD,Coal_RB_5700_FOB_London_Close_USD,Coal_RB_6000_FOB_CurrentWeek_Avg_USD,Coal_India_5500_CFR_London_Close_USD,Price_WTI,Price_Brent_Oil,Price_Dubai_Brent_Oil,Price_ExxonMobil,Price_Shenhua,Price_All_Share,Price_Mining,Price_LNG_Japan_Korea_Marker_PLATTS,Price_ZAR_USD,Price_Natural_Gas,Price_ICE,Price_Dutch_TTF,Price_Indian_en_exg_rate
1102,2024-06-24,73.30,94.56,107.31,106.22,111.20,81.63,86.01,82.60,114.05,39.55,80263.14,51492.93,12.610,0.05517,2.811,138.72,34.080,182.69
1103,2024-06-25,73.30,94.56,107.31,106.22,111.20,80.83,85.01,82.42,114.37,39.50,79577.57,51015.62,12.735,0.05482,2.756,137.33,34.855,179.47
1104,2024-06-26,73.30,94.56,107.31,106.22,111.20,80.90,85.25,82.47,114.41,39.70,79252.39,50943.54,12.620,0.05497,2.628,137.39,33.825,178.68
1105,2024-06-27,73.30,94.56,107.31,106.22,111.20,81.74,86.39,82.49,114.90,35.15,78969.33,52018.94,12.660,0.05411,2.685,137.47,34.565,179.83
1106,2024-06-28,71.38,92.08,103.68,106.22,109.15,81.54,86.41,82.55,115.12,35.95,79707.11,51308.87,12.635,0.05495,2.601,136.89,34.480,180.54

In [15]:
# Calculate Measures of Central Tendency:
# 1. Mean
mean_values = df.mean()  # calculates mean for all numerical columns
print("Mean values for each numerical column:")
print(mean_values)

Mean values for each numerical column:
Date                                    2022-05-16 14:22:26.341463296
Coal_RB_4800_FOB_London_Close_USD                           87.953184
Coal_RB_5500_FOB_London_Close_USD                          113.353155
Coal_RB_5700_FOB_London_Close_USD                          134.971807
Coal_RB_6000_FOB_CurrentWeek_Avg_USD                       144.351494
Coal_India_5500_CFR_London_Close_USD                        123.75971
Price_WTI                                                   72.345469
Price_Brent_Oil                                              76.28302
Price_Dubai_Brent_Oil                                       74.752493
Price_ExxonMobil                                            80.871012
Price_Shenhua                                               21.274702
Price_All_Share                                          68736.904811
Price_Mining                                             52972.178374
Price_LNG_Japan_Korea_Marker_PLATTS                         17.622529
Price_ZAR_USD                                                0.059943
Price_Natural_Gas                                            3.697999
Price_ICE                                                  112.756111
Price_Dutch_TTF                                             57.384856
Price_Indian_en_exg_rate                                   141.616027
dtype: object

In [16]:
# 2. Median
median_values = df.median()  # calculates median for all numerical columns
print("\nMedian values for each numerical column:")
print(median_values)

Median values for each numerical column:
Date                                    2022-05-17 00:00:00
Coal_RB_4800_FOB_London_Close_USD                     77.81
Coal_RB_5500_FOB_London_Close_USD                     97.28
Coal_RB_5700_FOB_London_Close_USD                    110.94
Coal_RB_6000_FOB_CurrentWeek_Avg_USD                 115.63
Coal_India_5500_CFR_London_Close_USD                 111.68
Price_WTI                                             75.57
Price_Brent_Oil                                       79.67
Price_Dubai_Brent_Oil                                 78.18
Price_ExxonMobil                                      84.81
Price_Shenhua                                         21.85
Price_All_Share                                    69401.95
Price_Mining                                   52972.178374
Price_LNG_Japan_Korea_Marker_PLATTS                  13.335
Price_ZAR_USD                                       0.05872
Price_Natural_Gas                                     2.879
Price_ICE                                            112.42
Price_Dutch_TTF                                       36.78
Price_Indian_en_exg_rate                         141.616027
dtype: object

In [17]:
# 3. Mode
mode_values = df.mode()  # calculates mode for all columns
print("\nMode values for each column:")
print(mode_values)

Mode values for each column:
           Date  Coal_RB_4800_FOB_London_Close_USD  \
0    2020-04-02                          87.953184
1    2020-04-03                                NaN
2    2020-04-06                                NaN
3    2020-04-07                                NaN
4    2020-04-08                                NaN
...         ...                                ...
1102 2024-06-24                                NaN
1103 2024-06-25                                NaN
1104 2024-06-26                                NaN
1105 2024-06-27                                NaN
1106 2024-06-28                                NaN

      Coal_RB_5500_FOB_London_Close_USD  Coal_RB_5700_FOB_London_Close_USD  \
0                            113.353155                         134.971807
1                                   NaN                                NaN
2                                   NaN                                NaN
3                                   NaN                                NaN
4                                   NaN                                NaN
...                                 ...                                ...
1102                                NaN                                NaN
1103                                NaN                                NaN
1104                                NaN                                NaN
1105                                NaN                                NaN
1106                                NaN                                NaN

      Coal_RB_6000_FOB_CurrentWeek_Avg_USD  \
0                               144.351494
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
...                                    ...
1102                                   NaN
1103                                   NaN
1104                                   NaN
1105                                   NaN
1106                                   NaN

      Coal_India_5500_CFR_London_Close_USD  Price_WTI  Price_Brent_Oil  \
0                                123.75971  72.345469         76.28302
1                                      NaN        NaN              NaN
2                                      NaN        NaN              NaN
3                                      NaN        NaN              NaN
4                                      NaN        NaN              NaN
...                                    ...        ...              ...
1102                                   NaN        NaN              NaN
1103                                   NaN        NaN              NaN
1104                                   NaN        NaN              NaN
1105                                   NaN        NaN              NaN
1106                                   NaN        NaN              NaN

      Price_Dubai_Brent_Oil  Price_ExxonMobil  Price_Shenhua  Price_All_Share  \
0                 74.752493         80.871012      21.274702     68736.904811
1                       NaN               NaN            NaN              NaN
2                       NaN               NaN            NaN              NaN
3                       NaN               NaN            NaN              NaN
4                       NaN               NaN            NaN              NaN
...                     ...               ...            ...              ...
1102                    NaN               NaN            NaN              NaN
1103                    NaN               NaN            NaN              NaN
1104                    NaN               NaN            NaN              NaN
1105                    NaN               NaN            NaN              NaN
1106                    NaN               NaN            NaN              NaN

      Price_Mining  Price_LNG_Japan_Korea_Marker_PLATTS  Price_ZAR_USD  \
0     52972.178374                            17.622529        0.05273
1              NaN                                  NaN        0.05429
2              NaN                                  NaN        0.05506
3              NaN                                  NaN        0.06308
4              NaN                                  NaN        0.06532
...            ...                                  ...            ...
1102           NaN                                  NaN            NaN
1103           NaN                                  NaN            NaN
1104           NaN                                  NaN            NaN
1105           NaN                                  NaN            NaN
1106           NaN                                  NaN            NaN

      Price_Natural_Gas   Price_ICE  Price_Dutch_TTF  Price_Indian_en_exg_rate
0              3.697999  112.756111        57.384856                141.616027
1                   NaN         NaN              NaN                       NaN
2                   NaN         NaN              NaN                       NaN
3                   NaN         NaN              NaN                       NaN
4                   NaN         NaN              NaN                       NaN
...                 ...         ...              ...                       ...
1102                NaN         NaN              NaN                       NaN
1103                NaN         NaN              NaN                       NaN
1104                NaN         NaN              NaN                       NaN
1105                NaN         NaN              NaN                       NaN
1106                NaN         NaN              NaN                       NaN

[1107 rows x 19 columns]

In [19]:
import pandas as pd
file_path = 'Data set (2).xlsx'
df = pd.read_excel(file_path)
numeric_df = df.select_dtypes(include='number')
variance = numeric_df.var()
print(variance)

Coal_RB_4800_FOB_London_Close_USD       2.237619e+03
Coal_RB_5500_FOB_London_Close_USD       3.982292e+03
Coal_RB_5700_FOB_London_Close_USD       6.001971e+03
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    6.972281e+03
Coal_India_5500_CFR_London_Close_USD    3.192492e+03
Price_WTI                               4.245831e+02
Price_Brent_Oil                         4.294504e+02
Price_Dubai_Brent_Oil                   4.204883e+02
Price_ExxonMobil                        7.712787e+02
Price_Shenhua                           3.765394e+01
Price_All_Share                         6.286333e+07
Price_Mining                            4.952807e+07
Price_LNG_Japan_Korea_Marker_PLATTS     1.617135e+02
Price_ZAR_USD                           3.681609e-05
Price_Natural_Gas                       3.690917e+00
Price_ICE                               1.885030e+02
Price_Dutch_TTF                         2.843977e+03
Price_Indian_en_exg_rate                2.931929e+03
dtype: float64

In [20]:
numeric_df = df.select_dtypes(include='number')
std_deviation = numeric_df.std()
print(std_deviation)

Coal_RB_4800_FOB_London_Close_USD         47.303473
Coal_RB_5500_FOB_London_Close_USD         63.105405
Coal_RB_5700_FOB_London_Close_USD         77.472391
Coal_RB_6000_FOB_CurrentWeek_Avg_USD      83.500186
Coal_India_5500_CFR_London_Close_USD      56.502138
Price_WTI                                 20.605415
Price_Brent_Oil                           20.723186
Price_Dubai_Brent_Oil                     20.505811
Price_ExxonMobil                          27.771904
Price_Shenhua                              6.136281
Price_All_Share                         7928.639789
Price_Mining                            7037.617925
Price_LNG_Japan_Korea_Marker_PLATTS       12.716663
Price_ZAR_USD                              0.006068
Price_Natural_Gas                          1.921176
Price_ICE                                 13.729638
Price_Dutch_TTF                           53.328953
Price_Indian_en_exg_rate                  54.147294
dtype: float64

In [21]:
numeric_df = df.select_dtypes(include='number')
data_range = numeric_df.max() - numeric_df.min()
print(data_range)

Coal_RB_4800_FOB_London_Close_USD         274.34000
Coal_RB_5500_FOB_London_Close_USD         325.68000
Coal_RB_5700_FOB_London_Close_USD         367.66000
Coal_RB_6000_FOB_CurrentWeek_Avg_USD      383.69000
Coal_India_5500_CFR_London_Close_USD      271.08000
Price_WTI                                 161.33000
Price_Brent_Oil                           108.65000
Price_Dubai_Brent_Oil                     103.46000
Price_ExxonMobil                           90.63000
Price_Shenhua                              28.24000
Price_All_Share                         36192.66000
Price_Mining                            39927.46000
Price_LNG_Japan_Korea_Marker_PLATTS        67.96000
Price_ZAR_USD                               0.02388
Price_Natural_Gas                           8.16500
Price_ICE                                  58.44000
Price_Dutch_TTF                           335.68500
Price_Indian_en_exg_rate                  250.23000
dtype: float64

In [22]:
numeric_df = df.select_dtypes(include='number')
skewness = numeric_df.skew()
print(skewness)

Coal_RB_4800_FOB_London_Close_USD       1.312825
Coal_RB_5500_FOB_London_Close_USD       1.260528
Coal_RB_5700_FOB_London_Close_USD       1.278061
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    1.269489
Coal_India_5500_CFR_London_Close_USD    0.862272
Price_WTI                              -0.536349
Price_Brent_Oil                        -0.429634
Price_Dubai_Brent_Oil                  -0.560067
Price_ExxonMobil                       -0.207440
Price_Shenhua                           0.565776
Price_All_Share                        -0.820778
Price_Mining                            0.288418
Price_LNG_Japan_Korea_Marker_PLATTS     1.084267
Price_ZAR_USD                           0.347963
Price_Natural_Gas                       1.260015
Price_ICE                               0.222972
Price_Dutch_TTF                         1.719477
Price_Indian_en_exg_rate                0.371277
dtype: float64

In [23]:
numeric_df = df.select_dtypes(include='number')
kurtosis = numeric_df.kurt()
print(kurtosis)

Coal_RB_4800_FOB_London_Close_USD       2.116484
Coal_RB_5500_FOB_London_Close_USD       1.127323
Coal_RB_5700_FOB_London_Close_USD       0.811808
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    0.717634
Coal_India_5500_CFR_London_Close_USD    0.176041
Price_WTI                               0.808288
Price_Brent_Oil                        -0.024637
Price_Dubai_Brent_Oil                  -0.038227
Price_ExxonMobil                       -1.486695
Price_Shenhua                           0.020671
Price_All_Share                        -0.119788
Price_Mining                           -0.362583
Price_LNG_Japan_Korea_Marker_PLATTS     0.789421
Price_ZAR_USD                          -1.217152
Price_Natural_Gas                       0.660356
Price_ICE                              -0.876720
Price_Dutch_TTF                         3.148565
Price_Indian_en_exg_rate               -0.091080
dtype: float64

In [24]:
total_kurtosis = numeric_df.kurt() + 3